<table class="table">
  <thead>
    <th>ID</th>
    <th>Título</th>
    <th>Ações</th>
  </thead>
  
  <tbody>
    <tr *ngFor='let task of tasks'>
      <td>{{task.id}}</td>
      <td>{{task.title}}</td>
      <td>
        <a [routerLink]="['/tasks', task.id]" class="btn btn-info">
          <i class="fa fa-info" aria-hidden="true"></i> Detalhes
        </a>
        
        <button class="btn btn-danger">
          <i class="fa fa-trash" aria-hidden="true"></i> Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>
