<h1 class="page-header">Lista de Tarefas</h1>

<div class="card card-body bg-light">
  <div class="row">
    <div class="col-md-10">
      <input type="text" class="form-control" [(ngModel)]="newTask.title" placeholder="Nova tarefa...">
    </div>

    <div class="col-md-2">
      <button class="btn btn-success" (click)="createTask()">
        Adicionar Tarefa
      </button>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Ações</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor='let task of tasks'>
      <td>{{task.id}}</td>
      <td>{{task.title}}</td>
      <td>
        <a [routerLink]="['/tasks', task.id]" class="btn btn-info">
          <i class="fa fa-info" aria-hidden="true"></i> Detalhes
        </a>
        
        <button class="btn btn-danger" (click)="deleteTask(task)">
          <i class="fa fa-trash" aria-hidden="true"></i> Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>
