<h1 class="page-header">Cadastre-se</h1>

<div class="jumbotron">
  <form [formGroup]="form" (ngSubmit)="signUpUser()">
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Nome</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" formControlName="name"
        [ngClass]="formUtils.fieldClassForErrorOrSuccess('name')">

        <div *ngIf="formUtils.showFieldError('name')" class="text-danger">
          <div *ngIf="form.get('name').errors.required">
            Nome obrigatório
          </div>
          <div *ngIf="form.get('name').errors.minlength">
            Nome deve ter pelo menos 5 dígitos
          </div>
          <div *ngIf="form.get('name').errors.maxlength">
            Nome deve ser menor que 100 dígitos
          </div>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <label for="email" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" id="email" formControlName="email"
        [ngClass]="formUtils.fieldClassForErrorOrSuccess('email')">

        <div *ngIf="formUtils.showFieldError('email')" class="text-danger">
          <div *ngIf="form.get('email').errors.required">
            E-mail obrigatório
          </div>
          <div *ngIf="form.get('email').errors.email">
            E-mail inválido
          </div>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <label for="password" class="col-sm-3 col-form-label">Senha</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="password" formControlName="password"
        [ngClass]="formUtils.fieldClassForErrorOrSuccess('password')">

        <div *ngIf="formUtils.showFieldError('password')" class="text-danger">
          <div *ngIf="form.get('password').errors.required">
            Senha obrigatória
          </div>
          <div *ngIf="form.get('password').errors.minlength">
            Senha deve ter pelo menos 6 dígitos
          </div>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <label for="passwordConfirmation" class="col-sm-3 col-form-label">Confirmação de Senha</label>
      <div class="col-sm-9">
        <input class="form-control" id="passwordConfirmation" formControlName="passwordConfirmation" 
        [ngClass]="formUtils.fieldClassForErrorOrSuccess('passwordConfirmation')" type="password">

        <div *ngIf="formUtils.showFieldError('passwordConfirmation')" class="text-danger">
          <div *ngIf="form.get('passwordConfirmation').errors.required">
            Confirmação de senha obrigatória
          </div>
          <div *ngIf="form.get('passwordConfirmation').errors.mismatch">
            Confirmação de senha inválida
          </div>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-offset-3 col-sm-9">
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Criar Conta</button>
      </div>
    </div>
  </form>
</div>
